{% if user.getCurrency is not null %}
    {% set currency = user.getCurrency.getSymbol %}
{% else %}
    {% set currency = '' %}
{% endif %}


<section class="mb-3">
    <h3>{{ title }}
        <span class="badge badge-danger" style="vertical-align: super; font-size: 55%;">{{ stats.expense.sum ? stats.expense.sum|number_format(0, '.', ' ') : 0 }}{{ currency }}</span>
        <span class="badge badge-success" style="vertical-align: super; font-size: 55%;">{{ stats.income.sum ? stats.income.sum|number_format(0, '.', ' ') : 0 }}{{ currency }}</span>
    </h3>
    <div class="lead">Click a record to see its details</div>

    {#{{ dump(recent) }}#}
    {% if recent %}
        <div class="row">
            <div class="col my-3">
                <ul class="list-group">
                    {% for item in recent %}
                        <a class="list-group-item d-flex justify-content-between" href="{{ path('edit_budget', { id: item.getId }) }}">
                            <div>
                                <div>{{ item.created.format('H:i') }}</div>
                                <div class="text-body">{{ item.description }}</div>
                            </div>
                            <div>
                                <span class="badge badge-pill badge-{{ item.type == 'expense' ? 'danger' : 'success' }}">
                                    {{ item.amount|number_format(0,'.',' ') }}{{ user.getCurrency is not null ? user.getCurrency.getSymbol }}
                                </span>
                            </div>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <div class="mb-3">You have no records for today yet.</div>
        <div><a href="{{ path('add_budget') }}" class="btn btn-success">Create a record</a></div>
    {% endif %}

{#    {% if recent %}
        <div class="row">
            {% for item in recent %}
                {% if item.type == 'expense' %}
                    {% set badge_color = 'danger' %}
                {% elseif item.type == 'income' %}
                    {% set badge_color = 'success' %}
                {% endif %}
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <article class="card mb-3">
                        <header class="card-header pl-3 pr-0 py-0 d-flex justify-content-between align-items-center">
                            <div class="text-muted">{{ item.created.format('H:i') }}</div>
                            <div class="dropdown">
                                <button style="border-top-right-radius: 3px !important;" class="btn btn-info btn-sm rounded-0" type="button" id="actions-{{ item.getId }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-edit"></i></button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actions-{{ item.getId }}">
                                    <a class="dropdown-item" href="{{ path('edit_budget', { id: item.getId }) }}">Edit</a>
                                    <a class="dropdown-item" href="{{ path('remove_budget', { id: item.getId }) }}">Delete</a>
                                </div>
                            </div>
                        </header>
                        <div class="card-body">
                            <div class="h5 mb-0">{{ item.amount|number_format(0,'.',' ') }}{% if user.getCurrency is not null %}{{ user.getCurrency.getSymbol }}{% endif %}
                                <span class="badge badge-{{ badge_color }}" style="vertical-align: super">{{ item.type }}</span>
                            </div>
                            <div class="text-muted mt-2">{{ item.description }}</div>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="mb-3">You have no records for today yet.</div>
        <div><a href="{{ path('add_budget') }}" class="btn btn-success">Create a record</a></div>
    {% endif %}#}
</section>


