{% if user.getCurrency is not null %}
    {% set currency = user.getCurrency.getSymbol %}
{% else %}
    {% set currency = '' %}
{% endif %}

<section class="mb-3">
    <h3>{{ title }}
        <span class="badge badge-danger" style="vertical-align: super; font-size: 55%;">{{ stats.expense.sum ? stats.expense.sum|number_format(0, '.', ' ') : 0 }}{{ currency }}</span>
        <span class="badge badge-success" style="vertical-align: super; font-size: 55%;">{{ stats.income.sum ? stats.income.sum|number_format(0, '.', ' ') : 0 }}{{ currency }}</span>
    </h3>
    <div class="lead">Click a day to see its details</div>

    {% if records %}
        <div class="row">
            <div class="col my-3">
                <ul class="list-group">
                    {% for key, record in records %}
                        <a class="list-group-item d-flex justify-content-between
                            {{ date == record.datetime|date('Y-m-d') ? ' active' }}
                            {{ date is null and loop.first ? ' active' }}"
                           href="{{ path('dashboard', {date : record.datetime|date('Y-m-d')}) }}"
                        >
                            <div>
                                <div class="">{{ loop.first ? 'Today' : record.datetime.format('d.m D') }}</div>
                            </div>
                            <div>
                                {% for item in record.data %}
                                    {% if item.type == 'expense' %}
                                        {% set badge = 'danger' %}
                                    {% elseif item.type == 'income' %}
                                        {% set badge = 'success' %}
                                    {% endif %}
                                    <div class="badge badge-{{ badge }}">{{ item.sum|number_format(0, '.', ' ') }}{{ currency }}</div>
                                {% endfor %}
                            </div>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <div>Start to log your money flow. Data will be here tomorrow.</div>
    {% endif %}

{#    {% if records %}
        <div class="row">
            {% for key, record in records %}
                <div class="col col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    <article class="mb-3 pb-3 pt-3 d-flex justify-content-between align-items-start" style="border-bottom: 1px solid rgba(0,0,0,.125);">
                        <small class="text-muted">{{ record.datetime.format('d.m D') }}</small>
                        <div class="text-right" style="line-height: 1.2;">
                            {% for item in record.data %}
                                {% if item.type == 'expense' %}
                                    {% set badge = 'danger' %}
                                {% elseif item.type == 'income' %}
                                    {% set badge = 'success' %}
                                {% endif %}
                                <div class="badge badge-{{ badge }}">{{ item.sum|number_format(0, '.', ' ') }}{{ currency }}
                                </div>
                            {% endfor %}
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div>Start log your money flow. Data will be here tomorrow.</div>
    {% endif %}#}
</section>
